<div class="container">
  <h1>All your Lists Displayed here
    <%= link_to new_list_path do %>
      <i class="fa-solid fa-plus" style="color: #B197FC;"></i>
    <% end %>
  </h1>
  <% @lists.each do |list| %>
    <div class="card-category">
      <li>
        <%= link_to list.name, list_path(list) %>
        <%= link_to new_list_bookmark_path(list) do %>
          <i class="fa-solid fa-square-plus" style="color: #B197FC;"></i>
        <% end %>
        <%= link_to lists_path, data: { turbo_method: :delete, turbo_confirm: "Delete #{list.name}?" } do %>
          <i class="fa-solid fa-trash-can" style="color: #B197FC;"></i>
        <% end %>
      </li>
    <% end %>
  </div>
</div>
