// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Define fonts for body and headers
$body-font: "Raleway", "Helvetica", "sans-serif";
$headers-font: "Maven Pro", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

a:link {
  text-decoration: none;
  color:cadetblue;
}

a:link :visited {
  text-decoration: none;
  color:cadetblue;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

ul li {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Add a grey background color */
  padding: 12px; /* Add some padding */
}
